<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/mayurmansukh/OneDrive - Instarem PTE Ltd/Desktop/Automation-Assessment/src/test/java/testCases/LoginTest.java">
        <parameter name="browser" value= "chrome" />
        <classes>
            <class name="testCases.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>